<% @title="Рейтинг" %>
<div class="flex">
  <div class="flex-col mx-auto my-1">
    <h1 class="text-center py-4 text-xl">Турниры</h1>

    <div class="flex-row my-1">
      <%= form_with method: :get do |form| %>
        <%= form.text_field :name,
                            value: @tournament_name,
                            placeholder: "Название",
                            class: "rating-text-field" %>
        <%= form.select :type_id,
                        options_for_select([["Все типы", ""]] + @tournament_types.map { |id, name| [name, id] }, @type_id),
                        {},
                        class: "mx-3 rating-text-field" %>
        <%= form.submit "Поиск", class: "rating-button", name: nil %>
      <% end %>
    </div>

    <% if @paging.display? && !@filtered %>
      <div class="flex-row my-2">
        <%= render "paging" %>
      </div>
    <% end %>

<table class="rating-table table-fixed">
  <thead>
  <tr class="rating-table-header">
    <th class="px-2 w-1/8">Дата</th>
    <th class="px-2 w-1/4">Турнир</th>
    <th class="px-2 w-1/8">Тип</th>
    <th class="px-2 w-1/8">Бонус победителя</th>
    <th class="px-2 w-1/8">TrueDL</th>
  </tr>
  </thead>

  <tbody>
  <% @tournaments.each do |tournament| %>
    <tr class="rating-table-row border-b py-2">
      <td class="px-2 py-2 text-center"><%= I18n.l(tournament["date"].to_date, format: :short) %></td>
      <td class="px-2 hover:underline">
        <%= link_to(tournament["name"], tournament_path(tournament_id: tournament["id"])) %>
      </td>
      <td class="px-2 text-center"><%= tournament["type"] %></td>
      <td class="px-2 text-center"><%= tournament["rating"] %></td>
      <td class="px-2 text-center"><%= round_true_dl(@true_dls[tournament["id"]]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

    <% if @paging.display? && !@filtered %>
      <div class="flex-row my-2">
        <%= render "paging" %>
      </div>
    <% end %>
  </div>
</div>
